<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Suite">

	<parameter name="pdfngreport-properties" value="pdfng.properties" />

	<listeners>
		<listener class-name="com.libraries.Listener" />
		<listener class-name="com.uttesh.pdfngreport.PDFReportListener" />
	</listeners>
	
  <test name="Test">
    <classes>
      <class name="com.test.ToastMsg"/>
      
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
